<a href="https://colab.research.google.com/github/tejaspradhan/Neural-Algorithmic-Reasoning/blob/main/NAR_DatasetCreation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import numpy as np
import pandas as pd

In [2]:
np.random.randn(5)

array([-0.80283737,  1.47990003,  0.01690322,  0.04541647, -0.0591117 ])

In [19]:
data = []
for i in range(100000):
  data_pt = list(np.random.randn(5))
  data.append(data_pt + sorted(data_pt))

In [20]:
data = np.array(data)

In [21]:
data.shape

(100000, 10)

In [22]:
data

array([[-0.15078041, -0.60237971,  0.70269012, ...,  0.05105792,
         0.70269012,  0.82935123],
       [-0.01103568,  1.89597014, -1.81238584, ..., -0.5792898 ,
        -0.01103568,  1.89597014],
       [ 1.01459609, -1.21630759, -0.91638094, ..., -0.91638094,
        -0.18506902,  1.01459609],
       ...,
       [ 0.00896672, -0.04012147, -0.42858536, ..., -0.42858536,
        -0.04012147,  0.00896672],
       [-1.22923749,  1.0826794 , -0.51738646, ..., -0.51738646,
         0.16604896,  1.0826794 ],
       [ 0.63829843, -0.8629153 ,  0.65594965, ...,  0.63829843,
         0.65594965,  0.81548198]])

In [23]:
data = pd.DataFrame(data)

In [24]:
data

              0         1         2  ...         7         8         9
0     -0.150780 -0.602380  0.702690  ...  0.051058  0.702690  0.829351
1     -0.011036  1.895970 -1.812386  ... -0.579290 -0.011036  1.895970
2      1.014596 -1.216308 -0.916381  ... -0.916381 -0.185069  1.014596
3      1.194529  0.079426  1.010069  ...  1.010069  1.108565  1.194529
4     -1.173676  0.378997 -1.863175  ... -1.173676  0.378997  2.006267
...         ...       ...       ...  ...       ...       ...       ...
99995 -0.664999 -0.299989 -1.969445  ... -0.372621 -0.299989  1.008014
99996 -0.623784  0.830732 -1.510503  ... -0.623784  0.830732  1.342113
99997  0.008967 -0.040121 -0.428585  ... -0.428585 -0.040121  0.008967
99998 -1.229237  1.082679 -0.517386  ... -0.517386  0.166049  1.082679
99999  0.638298 -0.862915  0.655950  ...  0.638298  0.655950  0.815482

[100000 rows x 10 columns]

In [25]:
data.columns = ['I1', 'I2', 'I3', 'I4', 'I5', 'O1', 'O2', 'O3', 'O4', 'O5']

In [26]:
data

             I1        I2        I3  ...        O3        O4        O5
0     -0.150780 -0.602380  0.702690  ...  0.051058  0.702690  0.829351
1     -0.011036  1.895970 -1.812386  ... -0.579290 -0.011036  1.895970
2      1.014596 -1.216308 -0.916381  ... -0.916381 -0.185069  1.014596
3      1.194529  0.079426  1.010069  ...  1.010069  1.108565  1.194529
4     -1.173676  0.378997 -1.863175  ... -1.173676  0.378997  2.006267
...         ...       ...       ...  ...       ...       ...       ...
99995 -0.664999 -0.299989 -1.969445  ... -0.372621 -0.299989  1.008014
99996 -0.623784  0.830732 -1.510503  ... -0.623784  0.830732  1.342113
99997  0.008967 -0.040121 -0.428585  ... -0.428585 -0.040121  0.008967
99998 -1.229237  1.082679 -0.517386  ... -0.517386  0.166049  1.082679
99999  0.638298 -0.862915  0.655950  ...  0.638298  0.655950  0.815482

[100000 rows x 10 columns]

In [27]:
data.to_csv('nar_data.csv')